<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"><%= job.category%></h5>
    <div class="card-header">
    Details
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Company: <%= job.companyName %></li>
    <li class="list-group-item">Designation: <%= job.designation %></li>
    <li class="list-group-item">Location: <%= job.location %></li>
    <li class="list-group-item">Salary: <%= job.salary %></li>
    <li class="list-group-item">Apply By:  <%= job.applyBy %></li>
    <li class="list-group-item">No Of Openings: <%= job.noOfOpenings %></li>
    <li class="list-group-item">No Of Applicants: <%= job.applicants %></li>
    <li class="list-group-item">Posted On: <%= job.jobPosted %></li>
  </ul>
    <a href="#" class="btn btn-primary">Apply Now</a>
  </div>
</div>